grant codeBase "file:/Users/professionnal/Documents/Fac/M1/ProgDist/TP2/PROUTEAU_TP2_ProgDist/appserver" {
    permission java.security.AllPermission;
};
